config GPU_MALI
       tristate "ARM Mali 200/300/400 support"
       depends on ARM
       ---help---
       This enables support for the ARM Mali 200/300/400 family of GPUs.
       Platform specific configuration is made in configuration files in the
       drivers/gpu/mali/src folder

config GPU_MALI_DEBUG
       boolean "Debug mode (required for instrumentation)"
       default y
       depends on GPU_MALI
       ---help---
       This enables debug prints in the mali device driver. Debug mode must be
       enabled in order to use the intrumentation feature of the mali libraries.
