menuconfig GPU_MALI
	tristate "Mali-300/400/450 support"
	depends on ARM
	default y
	---help---
	  This enables support for the ARM Mali-300, Mali-400, and Mali-450
	  GPUs.

	  To compile this driver as a module, choose M here: the module will be
	  called mali.

choice
	prompt "Select MALI VER"
	depends on GPU_MALI
	default MALI_VER_R3P2_01_REL_3
	help
	  Choose this option to select DDK version.

config MALI_VER_R3P2_01_REL_3
	bool "MALI Version r3p2-01rel3"
	depends on GPU_MALI
	help
	  Say Y here to enable Mali version r3p2-01rel3

if MALI_VER_R3P2_01_REL_3
	source "drivers/gpu/mali/mali400ko/driver/src/devicedrv/mali/Kconfig"
	source "drivers/gpu/mali/mali400ko/driver/src/devicedrv/ump/Kconfig"
endif

endchoice
