config MCDE
	bool

config FB_MCDE
	bool "MCDE fbdev support"
	depends on FB
	select FB_SYS_FILLRECT
	select FB_SYS_COPYAREA
	select FB_SYS_IMAGEBLIT
	select FB_SYS_FOPS
	select HWMEM
	select MCDE
	---help---
	  This enables support for MCDE based frame buffer driver.

	  Please read the file <file:Documentation/fb/mcde.txt>

config FB_MCDE_DEBUG
	bool "MCDE debug messages"
	depends on MCDE
	---help---
	  Say Y here if you want the MCDE driver to output debug messages

config FB_MCDE_VDEBUG
	bool "MCDE verbose debug messages"
	depends on FB_MCDE_DEBUG
	---help---
	  Say Y here if you want the MCDE driver to output more debug messages

config MCDE_FB_AVOID_REALLOC
	bool "MCDE early allocate framebuffer"
	default n
	depends on FB_MCDE
	---help---
	  If you say Y here maximum frame buffer size is allocated and
	  used for all resolutions. If you say N here, the frame buffer is
	  reallocated when resolution is changed. This reallocation might
	  fail because of fragmented memory. Note that this memory will
	  never be deallocated, while the MCDE framebuffer is used.

config MCDE_DISPLAY_DSI
	bool "Support for DSI displays within MCDE"
	depends on MCDE
	default y

menu "MCDE DSI displays"
	depends on MCDE_DISPLAY_DSI

config MCDE_DISPLAY_GENERIC_DSI
	tristate "Generic DSI display driver"

config MCDE_DISPLAY_PANEL_DSI
	bool "Display panel driver"

config MCDE_DISPLAY_SAMSUNG_S6D16D0
	bool "Samsung S6D16D0 DSI display driver"
	depends on !MCDE_DISPLAY_PANEL_DSI
	---help---
	  Say Y if you have a TPO Taal or Blackpearl display panel.

config MCDE_DISPLAY_SONY_ACX424AKP_DSI
	tristate "Sony acx424akp DSI display driver"
	depends on !MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_NT35560_DSI_SONY_ACX424AKM
	bool "Sony ACX424AKM display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_ROTATE_NT35560_DSI_SONY_ACX424AKM
	bool "Rotate Sony ACX424AKM content 180 degrees"
	depends on MCDE_DISPLAY_NT35560_DSI_SONY_ACX424AKM

config MCDE_DISPLAY_NT35560_DSI_HITACHI_DX09D09VM
	bool "Hitachi DX09D09VM display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_ROTATE_NT35560_DSI_HITACHI_DX09D09VM
	bool "Rotate Hitachi DX09D09VM content 180 degrees"
	depends on MCDE_DISPLAY_NT35560_DSI_HITACHI_DX09D09VM

config MCDE_DISPLAY_R61408_DSI_SEIKO_RB443
	bool "Seiko RB443 display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_R61408_DSI_SAMSUNG_LMS347TF01
	bool "Samsung LMS347TF01 display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_R61529_DSI_SEIKO_RJ248
	bool "Seiko RJ248 display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_R61529_DSI_HITACHI_TX09D115VM
	bool "Hitachi TX09D115VM display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_OTM9601_DSI_SONY_ACX438AKM
	bool "Sony ACX438AKM display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_R61408_DSI_HITACHI_TX09D113
	bool "Hitachi tx09d113 display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_R61408_DSI_SONY_L5F31178
	bool "Sony l5f31178 display panel"
	depends on MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_ROTATE_180
	bool "Rotate display content 180 degrees"
	depends on !MCDE_DISPLAY_PANEL_DSI

config MCDE_DISPLAY_AV8100
	tristate "AV8100 HDMI/CVBS display driver"
	select AV8100

config MCDE_DISPLAY_HDMI_FB_AUTO_CREATE
	bool "HDMI_FB_AUTO_CREATE"
	default y
	depends on MCDE_DISPLAY_AV8100
	---help---
	  Say Y if you want the HDMI frame buffer to be created on start
	  Say N if you want the HDMI frame buffer to be created when HDMI
	  cable is plugged (needs user space HDMIservice)

endmenu

config MCDE_DISPLAY_DPI
	bool "Support for DPI displays within MCDE"
	depends on MCDE
	default n
	---help---
	  Add this option to choose which DPI display driver for MCDE to include

	  DPI (Display Pixel Interface) is a MIPI Alliance standard used for
	  active-matrix LCDs. The DPI uses parallel data lines.

menu "MCDE DPI displays"
	depends on MCDE_DISPLAY_DPI

config MCDE_DISPLAY_VUIB500_DPI
	tristate "DPI display driver for the VUIB500 board"
	---help---
	  The VUIB500 is an ST-Ericsson user interface board.

endmenu

config MCDE_DISPLAY_LOGO
	bool "MCDE logo"
	default n
	depends on FB_MCDE
	---help---
	  Say Y here if you want to display the logo.
